.view-book {
  color: #0366d6;
  font-size: 12px;
  margin-right: 10px;
  display: none;
}
.edit-book {
  color: rgb(7, 105, 157);
  font-size: 12px;
  margin-right: 10px;
}
.c-pointer {
  cursor: pointer;
}
.forms-row {
  display: flex;
  justify-content: space-between;
}
