body {
  margin: 0;
  background-color: #e1e1e6;
  font-family: Nunito;
}
.app {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.page-title {
  font-size: 48px;
}
.book-row {
  padding: 15px;
  background-color: #fff;
}

.book-row + .book-row {
  border-top: 1px solid #ccc;
}
.book-name {
  color: #333;
  font-size: 24px;
}
.author-name {
  color: #999;
}
.book-form {
  margin-bottom: 15px;
  display: flex;
}
.book-form input {
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #ccc;
  box-shadow: none;
  margin-right: 5px;
}
.book-form button {
  border-radius: 8px;
  font-size: 16px;
  padding: 8px 12px;
  background-color: #28a745;
  color: white;
  border: 1px solid transparent;
}
.view-book {
  color: #0366d6;
  font-size: 12px;
  margin-right: 10px;
  display: none;
}
.edit-book {
  color: rgb(7, 105, 157);
  font-size: 12px;
  margin-right: 10px;
}
.delete-book {
  color: red;
  font-size: 12px;
}
.c-pointer {
  cursor: pointer;
}
.forms-row {
  display: flex;
  justify-content: space-between;
}
.text-green {
  color: #e1fee8;
}
.text-blue {
  color: #cae1f9;
}
